.container
{
  height: 100%;
}
.root-1
{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  cursor: default
}

#scroll-container-1
{
  display: block;
    overflow: hidden;
    left: 325px;
    top: 1px;
    right: 325px;
    bottom: 1px;
}
#scroll-1
{
  display: block;
    left: 0px;
    top: 0px;
    overflow: hidden auto;
    padding-right: 17px;
}

.product-img
{
    height: 200px;
    width:  200px;
    cursor: pointer;
    position: relative;
}
.product-title
{
  cursor: pointer;
  overflow: hidden;
}
.btn
{
  font-size: 12px !important;
  padding: 10px 11px !important;
  background-color: white;

}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.addto-btn
{
  position: absolute;
  background-color: pink;
  top:165px
}
.wishlist-btn
{
  position: absolute;
  top:165px;
  left:110px;
  overflow: hidden;
}
.size
{
  border: 1px solid white;
    position: absolute;
    top: 104px;
    background-color: white
}
.header-title
{
  margin-left: 10px;
}
.size-btn
{
  border-radius: 50%;
  border: 1px solid gray;
  margin-left: 10px;
  background-color: white;
}
.size-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

